/* Tổng thể */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f5ff; /* Nền xanh nhạt */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50; 
    font-size: 2.5em; 
}


main {
    width: 100%;
    max-width: 600px;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.back-to-home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ed4d4d; /* Màu đỏ cho nút */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-to-home:hover {
    background-color: #c82333; /* Màu đỏ đậm hơn khi hover */
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: #007bff; 
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b2c9e2; /* Đường viền xám nhạt */
    border-radius: 5px; /* Bo tròn góc */
    transition: border-color 0.3s; /* Hiệu ứng cho viền khi focus */
}

select:focus {
    border-color: #3498db; /* Màu viền khi focus */
}

/* Nút đăng ký */
button {
    padding: 10px 20px;
    background-color: #28a745; /* Màu xanh lá cho nút */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng khi hover */
    width: 100%; /* Chiều rộng đầy đủ */
}

button:hover {
    background-color: #218838; /* Màu đậm hơn khi hover */
}

/* Thông báo */
.message {
    margin-top: 20px;
    text-align: center;
    color: #555; /* Màu chữ cho thông báo */
    font-size: 1.1em; /* Kích thước chữ cho thông báo */
}
