<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students in Course</title>
    <link rel="stylesheet" th:href="@{/courseStudents.css}" />
<body>
<h1>Students in Course: <span th:text="${course.courseName}"></span></h1>

<!-- Danh sách sinh viên -->
<h2>Student List</h2>
<table>
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.name}"></td>
        </tr>
    </tbody>
</table>

<a th:href="@{/courses}">Back to Course List</a>
</body>
</html>
